body { background-color: rgb(245, 145, 161);
}
h1 {text-align: center;
  color: black;
    }

h2 {text-align: center;
    color: rgb(102, 26, 92);
    border-top: 30%;
}
h3 {text-align: center;
    color: black;
    border-right-style: initial;
    border-color: rgb(118, 190, 22);
}
#ima1{margin-left: 30%;
    border-style: double;
}
#ima2{margin-left: 40%;
}
h4 {text-align: center 40%;
border-style: outset;
}
header {background-color: brown;
    border-right: 20%;
}
main {color: beige;
    border-color: black;
    border-style: groove;
}
footer {color: blue;
    text-align: justify;
}
